@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.card-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 20%;
  max-width: 20%;
  margin: 2% auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
}

.card.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out, box-shadow 0.7s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.fade-out {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out, box-shadow 0.7s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-date {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}

.card-description {
  font-size: 1rem;
  color: #444;
  text-align: center;
  margin-top: 10px;
}
