.presentation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.presentation-card-title {
  font-size: 2.5rem;
  margin-top: -100px;
  margin-bottom: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.5ch;
  color: black;
  text-align: center;
}

.personnal-presentation-container {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.personnal-presentation-paragraph {
  border-left: 1px solid black;
  padding: 1em;
  margin-bottom: 15px;
  margin-top: 1em;
  text-align: justify;
}

.presentation-card-description {
  color: black;
  font-size: 22px;
  line-height: 2;
  font-family: Arial, sans-serif;
  padding: 20px;
  white-space: pre-line;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-top: 100px;
}

.presentation-card-description.fade-in {
  opacity: 1;
}

.presentation-card-image {
  width: 270px;
  height: 270px;
  border-radius: 30%;
  object-fit: cover;
  margin-right: 30px;
}

.personnal-presentation-text {
  margin: 5px 0;
  flex-wrap: wrap;
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.personnal-presentation-text-job {
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 20px;
}

.personnal-presentation-text:not(:last-child) {
  margin-bottom: 5px;
}

@media only screen and (max-width: 1300px) {
  .presentation-card-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    letter-spacing: 0.5ch;
  }
  .personnal-presentation-paragraph {
    padding: 1em;
    margin-bottom: 15px;
  }
  .presentation-card-image {
    width: 220px;
    height: 220px;
  }
  
  .presentation-card-description {
    font-size: 18px;
    line-height: 2;
    padding: 20px;
    opacity: 0;
    margin-top: 60px;
  }
  .personnal-presentation-text {
    margin: 5px 0;
    font-size: 18px;
  }
  
  .personnal-presentation-text-job {
    font-size: 18px;
  }
}

@media only screen and (min-width: 751px) {
  .presentation-card {
    flex-direction: column;
    align-items: center;
  }

  .presentation-card-image {
    margin-bottom: 20px;
  }

  .personnal-presentation-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .personnal-presentation-paragraph {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: justify;
  }
}



@media only screen and (max-width: 750px) {
  .presentation-card {
    flex-direction: column;
    align-items: center;
    transform: translateY(-400px);
    margin-bottom: -400px;
  }
  
  .presentation-card-title {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: 0.1ch;
  }
  
  .presentation-card-image {
    width: 60%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .personnal-presentation-container {
    padding: 10px;
    text-align: center;
    align-items: center;
  }

  .personnal-presentation-paragraph {
    margin-bottom: 15px;
    padding: 0.5em;
    text-align: justify;
    border-left: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .presentation-card-description {
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.5px;
    padding: 20px;
    opacity: 0;
    font-size: 12px;
    margin-top: 0px;
  }
  
  .personnal-presentation-text {
    margin: 5px 0;
    font-size: 13px;
    font-weight: normal;
  }
  
  .personnal-presentation-text-job {
    font-size: 13px;
    font-weight: bold;
  }
}

