
.presentation-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: -30%;
}


.presentation-card-title {
  margin-top: 410px;
  margin-bottom: 100px;
  width: 50%;
  overflow: hidden;
  color: white;
  font-size: 50px;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid orange;
  animation: printed-text 3s steps(21), flashin-border .75s step-start infinite;
}

.presentation-card-description-container {
  height: 200px;
  overflow: auto;
}

.presentation-card-description {
  color: white;
  font-size: 25px;
  line-height: 2;
  font-family: Arial, sans-serif;
  padding: 20px;
  white-space: pre-line;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.presentation-card-description.fade-in {
  opacity: 1;
}


.presentation-card-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}


@keyframes flashin-border {
  0% {
    border-color: rgb(255, 255, 255);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: rgb(255, 255, 255);
  }
}


@keyframes printed-text {
  from {
    width: 0%;
  }
}
