@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.project-card-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.project-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: calc(10em + 220px);
  width: 25%;
  margin: 4% auto;
  padding:  5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}

.project-card.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out, box-shadow 0.7s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card.fade-out {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out, box-shadow 0.7s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.project-card:hover {
  transform: scale(1.05) translateY(-10px);
  transition: transform 0.2s ease;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.3);
}


.project-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
  color: #000000c7;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}

.project-card-date {
  font-size: 0.9rem;
  color: #666;
}

.project-card-location {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.project-card-description {
  font-size: 1rem;
  color: #000000;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 5px;
  
}

.project-card-techs {
  margin-top: 10px;
  font-size: 18px;
  font-display:initial ;
  color: rgba(0, 0, 0, 0.568);
  font-weight: normal;
}

.project-card-image {
  width: calc(100% - 20px);
  margin-top: 5px;
  height: calc(100% - 100px);
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project-card-status {
  font-size: 1rem;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.project-card-status.ongoing {
  color: green;
}

.project-card-status.terminated {
  color: red;
}

.github-icon{
  margin-top: 50px;
  height: 100%;
  width: 70px;
}
