.social-card {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.social-card.inline {
  display: inline-block;
}

.social-card-content {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.social-card-content:hover {
  background-color: #f0f0f0;
}

.social-card-content img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-card-name {
  margin: 0;
}
