.crud-hub-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.crud-manager-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.crud-hub-container select {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

.crud-hub-container select:focus {
  outline: none;
  border-color: #007bff;
}

.crud-hub-container select:hover {
  border-color: #007bff;
}

.crud-hub-value {
  font-size: 1rem;
  padding: 10px;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.crud-hub-value:hover {
  background-color: #007bff;
  color: #fff;
}

.crud-display {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.crud-content {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.education-page {
  background-color: #fff;
}

.experience-page {
  background-color: #fff;
}

.social-links-page {
  background-color: #fff;
}

.project-page {
  background-color: #fff;
}
