/* homepage.css */

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.experience-section-container {
  max-width: 80%px; /* Limit the width of the experience section */
  margin-top: 2rem; /* Add top margin for spacing */
}

.experience-section-container section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}