.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 221px;
  margin-top: 8%;
}

.card-container {
  margin-top: 20px;
}

.homepage-title {
  text-align: center;
  margin-top: 0px; 
}


#homepage { background-color: #ff9ae18e; }
#experience { background-color: #e0e0e0; }
#education { background-color: #d0d0d0; }
#projects { background-color: #c0c0c0; }
#social { background-color: #b0b0b0; }