
.navbar {
  position: fixed;
  height: 8%;
  top: 0;
  left: 221px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #b8b8b8;
  z-index: 1000;
}

.logo a, .home a {
  text-decoration: none;
  color: black;
}

.search input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}
