/* social-card.css */

.social-card {
  margin: 10px;
  display: flex; /* Utilisation de Flexbox */
  justify-content: center; /* Centrer horizontalement les cartes */
}

.social-card.inline {
  display: inline-block;
}

.social-card-content {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.social-card-content:hover {
  background-color: #f0f0f0;
}

.social-card-content img {
  width: 30px; /* Ajustez la taille de l'icône selon vos besoins */
  height: 30px; /* Ajustez la taille de l'icône selon vos besoins */
  margin-right: 10px;
}

.social-card-name {
  margin: 0;
}
