.toggle-button {
  position: relative;
  width: 53px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid #0000006c;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.404);

}

.button {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 23px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #000000af;
  border-radius: 45%;
  transform: translateY(-50%);
  transition: left 0.3s ease;
}

.on .button {
  left: 25px;
}

.toggle-button.on {
  background-color: rgba(0, 128, 0, 0.521);
}

.toggle-button.off {
  background-color: rgba(255, 0, 0, 0.685);
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  width: 120px; /* Adjust width as needed */
  background-color: #ffffff00;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 30px; /* Position below the button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s;
}

.toggle-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 750px) {
  .toggle-button {
    margin-top: 1px;
    position: relative;
    width: 40px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #0000006c;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.404);
  
  }
  
  .button {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 20px;
    height: 17px;
    background-color: #ffffff;
    border: 1px solid #000000af;
    border-radius: 45%;
    transform: translateY(-50%);
    transition: left 0.3s ease;
  }
  
  .on .button {
    left: 18px;
  }
}